input {
    margin-bottom: 15px;
}
button {
    margin-right: 5px;
    margin-bottom: 8px;
    width: 100%;
}
.btn-primary {
    width: 93%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}